@using WordCounter.Models;
@using System;

@{
  Layout = "_Layout";
}

<h1>How to the play the Word Counter Game!</h1>
<p>Add a word and a sentence here:</p>

<form action="/counters" method="post">
  <label for="word">Enter a word:</label>
  <input id="word" name="word" type="text">
  <label for="sentence">Enter a sentence:</label>
  <input id="sentence" name="sentence" type="text">
  <button type="submit">Click to Play!</button>
</form>

<p><a href="/">Back home</a></p>
